.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0px 2px 4px #000;
}

.task > p {
  flex: 1;
  font-family: Arial, sans-serif;
  font-size: clamp(10px, 2.3vw, 20px);
}

.item--done {
  text-decoration: line-through;
}
